.web {
    display: block;
}
.mobile {
    display: none;
}
@media(max-width: 767px) {
    .web {
        display: none;
    }
    .mobile {
        display: block;
    }
    
}
@media(max-width: 480px) {
    
}