.table {
    &.main-table {
        tr {
            td {
                &:first-child {
                    font-size: 2rem;
                }
            }
        }
        .web {
            display: table-cell;
        }
        .mobile {
            display: none;
        }
    }
}