.banner {
    position: relative;
    padding: 13% 0;
    margin-top: 90px;
    background: url(../img/banner.png) right top/cover no-repeat;
    .photo {
        width: 200px;
        height: 200px;
        border: 10px solid rgba(255, 255, 255, 0.3);
        border-radius: 100%;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .title {
        color: white;
        text-shadow: 0 1px 5px $main-grey;
        font-size: 2.2rem; 
        position: absolute;
        top: 50%;
        // right: 20%;
        margin: 0 0 0 230px;
        transform: translateY(-50%);
        line-height: 2.5rem;
        .subtitle {
            font-size: 1.5rem;
        }
    }
}



.section {
    text-align: center;
    padding: 110px 0 50px;
    color: $main-grey;
    margin-top: -60px;
    .title {
        font-size: 3rem;
    }
    .vertical-middle {
        vertical-align: middle;
    }
    .table {
        background: $table-grey;
        tr {
            border-bottom: 5px solid white;
        }
    }
}
.about {
    font-size: 1rem;
}

.project-list {
    margin: 0;
    .project-item {
        padding: 0;
        &:hover {
            .overlay {
                opacity: 0.8;
                transition: all .25s ease-in;
            }
        }
    }
    .overlay {
        height: 100%;
        width: 100%;
        background: black;
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        text-decoration: none;
        padding: 15px;
        .text {
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            color: white;
        }
        .project-name {
            font-size: 1.3rem;
            margin-bottom: 5px;
            font-weight: bold;
        }
        .project-response {
            font-size: 1rem;
            margin-bottom: 0;
        }
    }
}



@media(max-width: 767px) {
    .about {
        .table {
            .web {
                display: none;
            }
            .mobile {
                display: block;
            }
        }
    }
    .banner {
        margin-top: 108px;
        padding: 6% 0;
        .photo {
            width: 100px;
            height: 100px;
            border-width: 5px;
        }
        .title {
            margin-left: 110px;
            font-size: 1.5rem;
            line-height: 1.3rem;
            .subtitle {
                font-size: 0.8rem;
            }
        }
    }
    .section {
        padding-top: 110px;
        padding-bottom: 20px;
        margin-top: -100px;
        .title {
            font-size: 2rem;
        }
    }
    .project-item {
        margin-bottom: 10px;
    }
    .project-list {
        .overlay {
            opacity: .8;
            background: none;
            padding: 0;
            .text {
                width: 100%;
                bottom: 0;
                top: auto;
                transform: none;
                background: rgba(0, 0, 0, 0.6);
                padding: 10px;
                position: absolute;
            }
            .project-name {
                font-size: 1rem;
            }
        }
    }
    .header {
        padding-bottom: 0;
        padding-top: 10px;
    }
    .about {
        .table {
            tr.mobile {
                background: white;
                td {
                    padding-left: 0;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .footer {
        margin-top: 0;
        padding: 20px 0;
    }
}