<footer class="footer">
    <div class="container">
        <p>
            <!-- +1 (425) 979-8379<br> -->
        yinghui.cheng512@gmail.com<br>
        LinkedIn: Ying Hui Cheng </p>
        <div class="third-party">
            <a href="https://www.linkedin.com/in/ying-hui-cheng-65849887" class="item-circle" target="blank"><img src="img/linkedin-icon.svg" alt=""></a>
            <a href="https://www.facebook.com/dance790512" class="item-circle" target="blank"><img src="img/facebook-icon.svg" alt=""></a>
            <a href="https://www.instagram.com/annychengtw/" class="item-circle" target="blank"><img src="img/instagram-icon.svg" alt=""></a>
        </div>
    </div>
</footer>

</body>

</html>
