<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" > 
    <title>YING HUI CHENG'S PORTFOLIO</title>
    <!--favicon-->
    <!-- <link rel="icon" href="img/favicon.png" type="image/png" sizes="16x16"/> -->
    
    <!-- lib css -->
    <link rel="stylesheet" href="css/bootstrap.min.css"> 

    <!--custom css-->
    <link rel="stylesheet" href="css/style.min.css">

    
    <!-- JS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script> 
    <script type="text/javascript" src="js/all.min.js"></script>
    
    <!--slideJS-->
    <!-- <script type="text/javascript" src="js/slick.js"></script> -->

</head>

<body>